<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Close Window</string>
	<key>CFBundleExecutable</key>
	<string>Close Window</string>
	<key>CFBundleIdentifier</key>
	<string>com.FlorianPircher.CloseWindow</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Close Window</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright 2021 Florian Pircher</string>
	<key>NSPrincipalClass</key>
	<string>CloseWindow</string>
	<key>PyMainFileNames</key>
	<array>
		<string>plugin.py</string>
	</array>
	<key>productPageURL</key>
	<string>https://github.com/florianpircher/Close-Window</string>
	<key>productReleaseNotes</key>
	<string>Initial release.</string>
</dict>
</plist>
